* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Museo";
    src: url("../resources/fonts/Museo500-Regular.ttf");
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Museo, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 70%;
}

/* ad background */
a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    background: rgb(31, 61, 126);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*  /////////////////////////////////////////////
       general styles of ad components
       (No dimensions or font sizes here)
///////////////////////////////////////////// */

h1 {
    position: absolute;
    color: #FFFFFF;
}
h2 {
    background: #FFFFFF;
    color: #000;
    width: 90%;
    position: absolute;
    font-weight: normal;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: -1px;
    text-align: center;
}

img {
    position: absolute;
}

/*  /////////////////////////////////////////////
              Fade in right animation
              no need to change anything here
    ///////////////////////////////////////////// */
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


/*  /////////////////////////////////////////////
              Diagonal animation
    ///////////////////////////////////////////// */
@keyframes fadeInDiagonal {
    from {
        opacity: 1;
        -webkit-transform: translate3d(100%, 100%, 0);
        transform: translate3d(100%,100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, -100%, 0);
    }
}

.fadeInDiagonal {
    -webkit-animation-name: fadeInDiagonal;
    animation-name: fadeInDiagonal;
}


/*  /////////////////////////////////////////////
              Fade in  animation
    ///////////////////////////////////////////// */
@keyframes fadeIn {
    from {
        opacity: 0;
        }

    to {
        opacity: 1;
     }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}



/*  /////////////////////////////////////////////
                Fade in left animation
    If you want to tweak the length it stays
    before it moves of screen, change the 20% and 80%
    to different values to experiment!
    ///////////////////////////////////////////// */
@keyframes specialAnimation {

    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    20% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.specialAnimation {
    -webkit-animation-name: specialAnimation;
    animation-name: specialAnimation;
}

/*  /////////////////////////////////////////////
          The animations ordering and timing
    animation: the overall time it takes
               for the whole animation

    animation-delay: how long it waits until
                    it starts the animation
    ///////////////////////////////////////////// */


/* This is the first text, this will fade into the screen then exit*/
.animateFirstText {
    animation: 3s ease-in-out both specialAnimation;
}

/* This is the second text, it should come in after the first text leaves */
.animateSecondText {
    animation: 1s ease-in-out both fadeInRight;
    animation-delay: 3s;
}

/* this is the button, it will come in after the second text */
.animateButton {
    animation: .1s ease-in-out both fadeIn;
    animation-delay: 5s;
}

/* THE house image, this will come in last*/
.animateImage {
    animation: .1s ease-in-out both fadeIn;
    animation-delay: 5s;
}

.animateCircle {
    animation: 2s ease-in-out both fadeInDiagonal;
    animation-delay: 4s;
}

#circle {
    width: 1000px;
    height: 1000px;
    background: #fef25f;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    z-index: 100;
    position: absolute;
}

/*  /////////////////////////////////////////////
    Responsive design settings
    Now this where you ensure all the different sizes fit
    ///////////////////////////////////////////// */

/* 31 PIXELS HIGH */
@media only screen and (height: 31px) {
    h1 {
        width: 100%;
        height: 100%;
        top: 1px;
        left: 0;
        font-size: 1em;
        line-height: 15px;
        text-align: center;
        display: block;
    }

    h2, img {
        display: none;
    }
}

@media only screen and (height: 31px) and (min-width: 234px) {
    h1 {
        font-size: 1.4em;
        top: 0;
        line-height: 31px;
        display: inline;
    }
}

@media only screen and (height: 31px) and (min-width: 440px) {
    h1 {
        width: 50%;
    }

    h2 {
        display: block;
        width: 50%;
        height: 100%;
        line-height: 31px;
        top: 0;
        right: 0;
        text-align: center;
        font-size: 1.2em;
    }
}

@media only screen and (height: 31px) and (min-width: 560px) {
    h1 {
        width: 35%;
    }

    h2 {
        width: 35%;
        right: 30%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}

@media only screen and (height: 50px) and (min-width: 300px) {
    h1 {
        width: 99%;
        padding-top: 15px;
        padding-left: 15px;
        font-size: 1.7em;

    }

    h2 {
        line-height: 25px;
        width: 45%;
        right: 2%;
        -webkit-border-radius: 15px;
        -moz-border-radius: 0;
        border-radius: 15px;
        margin-top: 13px;
    }
}

/* 60 PIXELS HIGH */
@media only screen and (height: 60px) {
    h1 {
        width: 100%;
        height: 40px;
        line-height: 19px;
        top: 1px;
        left: 0;
        font-size: 1.3em;
        text-align: center;
    }

    h1 {
        display: block;
    }

    h2 {
        display: block;
        height: 20px;
        line-height: 20px;

        left: 0;
        bottom: 0;
        text-align: center;
        font-size: 1em;
    }

    img {
        display: none;
    }
}

@media only screen and (height: 60px) and (min-width: 234px) {
    h1 {
        width: 100%;
        font-size: 1.5em;
        height: 38px;
        line-height: 38px;
        top: 0;
    }

    h1 {
        display: inline;
    }

    h2 {
        margin-left: 20%;
        margin-bottom: 6px;
        font-size: 1.3em;
        height: 22px;
        line-height: 22px;
        text-align: center;
        width: 60%;
    }
}

@media only screen and (height: 60px) and (min-width: 440px) {
    h1 {
        width: 92%;
        left: 4%;
        font-size: 1.9em;
        text-align: left;

    }

    h2 {
        left: 0;
        text-align: center;
        margin-left: 10%;
        margin-top: 30px;
        font-size: 1.7em;
        width: 40%;
    }

    img {
        display: block;
        width: auto;
        height: 120px;
        top: -35px;
        right: 5%;

    }

    img {
        padding-top: 15px;
        left: 280px;
        width: 230px; /* you can use % */
        height: auto;
    }
}

@media only screen and (height: 60px) and (min-width: 560px) {
    img {
        display: block;
        width: auto;
        height: 120px;
        top: -35px;
        right: 30%;
    }

}

@media only screen and (height: 60px) and (min-width: 600px) {
    img {
        display: block;
        width: auto;
        height: 120px;
        top: -35px;
        right: 30%;
    }
}

/* 90 PIXELS HIGH */
@media only screen and (height: 90px) {
    h1 {
        width: 100%;
        top: 2px;
        height: 50px;
        line-height: 23px;
        left: 0;
        font-size: 1.2em;
        text-align: center;
        display: block;
    }

    h2 {
        display: block;
        left: 0;
        bottom: 3px;
        height: 40px;
        line-height: 20px;
        text-align: center;
        font-size: 1.3em;
    }

    img {
        display: none;
    }
}

@media only screen and (height: 90px) and (min-width: 240px) {
    h1 {
        width: 50%;
        height: 100%;
        left: 3%;
        text-align: left;
    }

    h2 {
        bottom: 0;
        text-align: left;
        font-size: 1.3em;
        left: 3%;

    }

    img {
        display: block;
        width: auto;
        height: 110px;
        top: -10px;
        right: 5%;
    }
}

@media only screen and (height: 90px) and (min-width: 300px) {
    h1 {
        font-size: 2em;
        line-height: 27px;
        height: 60px;
    }

    h2 {
        height: 30px;
        line-height: 30px;
        display: inline;
    }
}

@media only screen and (height: 90px) and (min-width: 480px) {
    h1 {
        font-size: 2.3em;
        width: 80%;
        line-height: 60px;
        display: inline;
    }

    h2 {
        font-size: 2em;
        text-align: center;
        margin-left: 10%;
        width: 30%;
        margin-bottom: 8px;
    }

    img {
        right: 4%;
    }
}

@media only screen and (height: 90px) and (min-width: 728px) {
    h1 {
        font-size: 2.8em;
        text-align: left;
        padding-left: 15px;
        top: -2px;
    }

    h2 {
        font-size: 2em;
        text-align: center;
        margin-left: 10px;
        width: 26%;
        margin-bottom: 8px;
    }

    img {
        right: 57px;
        display: block;
        width: auto;
        height: 139px;
        top: -33px;
    }
}

/* 125 PIXELS HIGH */
@media only screen and (height: 125px) {
    h1 {
        width: 95%;
        top: 15px;
        height: 45px;
        line-height: 20px;
        left: 2px;
        font-size: 1.3em;
        text-align: center;
        display: block;
    }

    h2 {
        display: block;
        left: 0;
        bottom: 20px;
        height: 40px;
        line-height: 20px;
        text-align: center;
        font-size: 1.3em;
    }
}

@media only screen and (height: 120px) and (min-width: 250px) {
    h1 {
        width: 50%;
        height: 100%;
        left: 5%;
        text-align: center;
    }

    h2 {
        left: 0;
        bottom: 0;
        padding-left: 5%;
        text-align: left;
        font-size: 1.3em;
    }

    img {
        display: block;
        width: auto;
        height: 135px;
        top: -10px;
        right: 5%;
    }
}

@media only screen and (height: 125px) and (min-width: 300px) {
    h1 {
        font-size: 2em;
        line-height: 42px;
        height: 90px;
    }

    h2 {
        height: 35px;
        line-height: 35px;
        display: inline;
    }
}

@media only screen and (height: 125px) and (min-width: 390px) {
    h1 {
        font-size: 3em;
        width: 80%;
    }

    img {
        right: 4%;
    }
}

@media only screen and (height: 125px) and (min-width: 728px) {
    h1 {
        font-size: 2.8em;
        line-height: 90px;
        left: 3%;
        display: inline;
    }

    h2 {
        padding-left: 3%;
    }

    img {
        right: 18%;
    }
}

/* 250 PIXELS HIGH */
@media only screen and (height: 250px) {
    h1 {
        width: 100%;
        top: 2px;
        height: 50px;
        line-height: 22px;
        font-size: 1.3em;
        text-align: center;
        display: block;
    }

    h2 {
        display: block;
        left: 1px;
        top: 60px;
        height: 40px;
        line-height: 20px;
        text-align: center;
        font-size: 1.3em;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 15px;
        z-index: 100;
    }

    img {
        height: 150px;
        bottom: 0;
        margin-left: -220px;
    }
}

@media only screen and (height: 250px) and (min-width: 125px) {
    img {
        width: 100%;
        height: 150px;
        bottom: 0;
        margin-left: -62px;
    }
}

@media only screen and (height: 250px) and (min-width: 165px) {
    h1 {
        height: 70px;
        line-height: 33px;
        font-size: 1.8em;
        text-align: left;

    }

    h2 {
        top: 70px;
        height: 70px;
        line-height: 33px;
        font-size: 1.7em;
        left: 14px;
    }

    img {
        height: 110px;
        width: auto;
        right: auto;
    }
}

@media only screen and (height: 250px) and (min-width: 250px) {
    h1 {
        height: 90px;
        line-height: 43px;
        font-size: 2.5em;
        padding-left: 10px;
        padding-top: 6px;

    }

    h2 {
        top: 70px;
        height: 45px;
        line-height: 45px;
        font-size: 2.2em;
        display: inline;
        border-radius: 30px;
    }

    img {
        height: 132px;
        width: auto;
        right: auto;
        bottom: -16px;
        margin-left: -54px;
    }
}

@media only screen and (height: 250px) and (min-width: 300px) {
    h1 {
        height: 120px;
        font-size: 3em;
    }

    h2 {
        font-size: 2.3em;
        text-align: center;
        width: 70%;
        margin-left: 30px;
        display: block;
    }

    img {
        height: 153px;
        width: auto;
        right: auto;
        margin-left: -58px;
        top: 115px;
    }
}

@media only screen and (height: 250px) and (min-width: 600px) {
    h1 {
        height: 120px;
        line-height: 120px;
        font-size: 4em;
        display: inline;
    }

    h2 {
        text-align: center;
        padding: 0;
        line-height: 60px;
        font-size: 2.5em;
        display: inline;
    }
}

@media only screen and (height: 250px) and (min-width: 820px) {
    h1 {
        font-size: 6em;
    }
}

/* 400 PIXELS HIGH */
@media only screen and (height: 400px) {
    h1 {
        width: 100%;
        top: 2px;
        height: 70px;
        line-height: 33px;
        left: 0;
        font-size: 1.4em;
        text-align: left;
        display: block;
    }

    h2 {
        display: block;
        left: 0;
        top: 70px;
        height: 50px;
        line-height: 25px;
        text-align: center;
        font-size: 1.3em;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        z-index: 100;
    }

    img {
        height: 200px;
        bottom: 55px;
        left: -20%;
    }
}

@media only screen and (height: 400px) and (min-width: 180px) {
    h1 {
        height: 70px;
        line-height: 20px;
        font-size: 1.8em;
    }

    h2 {
        top: 400px;
        height: 70px;
        line-height: 33px;
        font-size: 1.7em;
    }

    img {
        margin-left: -220px;
    }
}

@media only screen and (height: 400px) and (min-width: 220px) {
    h1 {
        height: 100px;
        line-height: 47px;
        font-size: 3em;
        margin-left: 10px;
    }

    h2 {
        left: 5%;
        top: 330px;
        height: 40px;
        line-height: 40px;
        border-radius: 15px;
        display: inline;
    }

    img {
        top: 110px;
    }
}

@media only screen and (height: 400px) and (min-width: 300px) {
    h1 {
        height: 120px;
        line-height: 63px;
        font-size: 4em;

    }

    h2 {
        top: 130px;
        height: 100px;
        line-height: 47px;
        font-size: 2.2em;
        display: block;
    }

    img {
        width: 50%;
        right: auto;
        bottom: 0;
        top: auto;
    }
}

@media only screen and (height: 400px) and (min-width: 445px) {
    h1 {
        height: 160px;
        line-height: 77px;
        font-size: 5em;
    }

    h2 {
        top: 160px;
        height: 80px;
        line-height: 80px;
        font-size: 3em;
        display: inline;
    }

    img {
        height: 180px;
        left: auto;
        width: auto;
        right: 50%;
    }
}

@media only screen and (height: 400px) and (min-width: 650px) {
    h1 {
        height: 130px;
        line-height: 130px;
        font-size: 4.6em;
        display: inline;
    }

    h2 {
        top: 130px;
        font-size: 4em;
    }

    img {
        height: 220px;
    }
}

/* 400 PIXELS HIGH */
@media only screen and (height: 600px) {
    h1 {
        width: 100%;
        top: 40px;
        height: 90px;
        line-height: 43px;
        left: 0;
        font-size: 1.5em;
        text-align: left;
        display: block;
    }

    h2 {
        display: block;
        left: 0;
        top: 160px;
        text-align: center;
        font-size: 1.3em;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        z-index: 100;
    }

    img {
        width: 160%;
        bottom: 100px;
        left: -40%;
    }
}

@media only screen and (height: 600px) and (min-width: 180px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.7em;
    }

    img {
        width: 120%;
        left: -10%;
    }
}

@media only screen and (height: 600px) and (min-width: 220px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    img {
        width: 100%;
        left: 0;
    }
}

@media only screen and (height: 600px) and (min-width: 280px) {
    h1 {
        font-size: 3.3em;
        top: 20px;
        height: 120px;
        line-height: 55px;
    }

    img {
        bottom: 0;
        width: 110%;
    }
}

@media only screen and (height: 600px) and (min-width: 300px) {
    h1 {
        height: 170px;
        top: 10px;
        line-height: 85px;
        font-size: 6em;
        left: 10px;
    }

    h2 {
        top: 370px;
        font-size: 2.3em;
        border-radius: 15px;
    }

    img {
        bottom: auto;
        top: 400px;
        width: 190%;
        margin-left: -200px;
    }
}

@media only screen and (height: 600px) and (min-width: 350px) {
    h1 {
        font-size: 4.2em;
    }

    h2 {
        height: 40px;
        line-height: 40px;
        display: inline;
    }

    img {
        top: 190px;
    }
}

@media only screen and (height: 600px) and (min-width: 450px) {
    h1 {
        font-size: 5.2em;
    }

    img {
        width: 78%;
        left: -10%;
    }
}

@media only screen and (height: 600px) and (min-width: 580px) {
    h1 {
        height: 200px;
        top: 10px;
        line-height: 95px;
        font-size: 6em;
    }

    h2 {
        top: 210px;
        font-size: 4em;
        height: 150px;
        line-height: 73px;
        display: block;
    }

    img {
        height: 250px;
        width: auto;
        bottom: 0;
        top: auto;
        left: auto;
        right: 50%;
    }
}

@media only screen and (height: 600px) and (min-width: 820px) {
    h1 {
        font-size: 6em;
        line-height: 200px;
        display: inline;
    }
}