* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Museo";
    src: url("../resources/fonts/Museo500.ttf");
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Museo, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 70%;
}

/* ad background */
a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    background: rgb(31, 61, 126);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*  /////////////////////////////////////////////
              Fade in right animation
              no need to change anything here
    ///////////////////////////////////////////// */
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

/*  /////////////////////////////////////////////
                Fade in left animation
    If you want to tweak the length it stays
    before it moves of screen, change the 20% and 80%
    to different values to experiment!
    ///////////////////////////////////////////// */
@keyframes specialAnimation {

    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    20% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.specialAnimation {
    -webkit-animation-name: specialAnimation;
    animation-name: specialAnimation;
}

/*  /////////////////////////////////////////////
          The animations ordering and timing
    animation: the overall time it takes
               for the whole animation

    animation-delay: how long it waits until
                    it starts the animation
    ///////////////////////////////////////////// */

/* This is the first text, this will fade into the screen then exit*/
.animateFirstText {
    animation: 4.5s ease-in-out both specialAnimation;
}

/* This is the second text, it should come in after the first text leaves */
.animateSecondText {
    animation: 5s ease-in-out both specialAnimation;
    animation-delay: 3.8s;
}

/* this is the button, it will come in after the second text */
.animateButton {
    animation: .9s ease-in-out both fadeInRight;
    animation-delay: 7.9s;
}

/* THE house image, this will come in last*/
.animateImage {
    animation: 1s ease-in-out both fadeInRight;
    animation-delay: 7.8s;
}

/*  /////////////////////////////////////////////
       general styles of ad components
///////////////////////////////////////////// */

h1 {
    position: absolute;
    color: #FFFFFF;
    z-index: 100;
}

h2 {
    background: #FFFFFF;
    color: rgb(31, 61, 126);
    width: 90%;
    position: absolute;
    font-weight: normal;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: -1px;
    text-align: center;
}

.shimmer {
    opacity: 0;
}

.shimmer:hover {
    color: rgb(31, 61, 126);
    background: rgb(31, 61, 126) -webkit-gradient(linear, 100% 0, 0 0, from(#ffd700), color-stop(0.5, #ffd700), to(#ffd700));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -webkit-background-size: 4rem 100%;
    /*50px*/
    opacity: 1;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top;
    }

    100% {
        background-position: 20.5rem top;
    }
}

h2:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    color: gold;
}

img {
    position: absolute;
}

/*  /////////////////////////////////////////////
    Responsive design settings
    Now this where you ensure all the different sizes fit
    Simply add your own dimensions
    ///////////////////////////////////////////// */

/* 50 PIXELS HIGH */
@media only screen and (height: 50px) and (min-width: 300px) {
    h1 {
        width: 99%;
        padding-top: 15px;
        padding-left: 15px;
        font-size: 1.8em;

    }

    h2 {
        line-height: 25px;
        width: 54%;
        right: 38%;
        -webkit-border-radius: 15px;
        -moz-border-radius: 0;
        border-radius: 6px;
        margin-top: 13px;
    }

    img {
        display: block;
        width: auto;
        height: 77px;
        top: -14px;
        right: 2%;
    }
}

/* 90 PIXELS HIGH */
@media only screen and (height: 90px) {
    h1 {
        width: 100%;
        top: 2px;
        height: 50px;
        line-height: 23px;
        left: 0;
        font-size: 1.2em;
        text-align: center;
        display: block;
    }

    h2 {
        display: block;
        left: 0;
        bottom: 24px;
        height: 40px;
        text-align: center;
        font-size: 1.3em;
    }

    img {
        display: none;
    }
}

@media only screen and (height: 90px) and (min-width: 728px) {
    h1 {
        font-size: 3em;
        text-align: center;
        padding-left: -100px;
        top: 29px;
    }

    h2 {
        font-size: 3em;
        text-align: center;
        margin-left: 80px;
        width: 44%;
    }

    img {
        right: 100px;
        display: block;
        width: auto;
        height: 139px;
        top: -25px;
    }
}

/* 250 PIXELS HIGH */
@media only screen and (height: 250px) {
    h1 {
        width: 100%;
        top: 2px;
        height: 50px;
        line-height: 22px;
        font-size: 1.3em;
        text-align: center;
        display: block;
    }

    h2 {
        display: block;
        left: 15px;
        top: 60px;
        height: 40px;
        line-height: 20px;
        text-align: center;
        font-size: 1.3em;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 15px;
        z-index: 100;
    }

    img {
        height: 150px;
        bottom: 0;
        margin-left: -220px;
    }
}

@media only screen and (height: 250px) and (min-width: 250px) {
    h1 {
        height: 90px;
        line-height: 43px;
        font-size: 2.5em;
        padding-left: 15px;
        padding-top: 6px;
        text-align: center;
        width: 95%;

    }

    h2 {
        top: 59px;
        height: 45px;
        line-height: 45px;
        font-size: 2.2em;
        display: inline;
        border-radius: 14px;
    }

    img {
        height: 121px;
        width: auto;
        right: auto;
        bottom: 27px;
        margin-left: 24px;
    }
}

@media only screen and (height: 250px) and (min-width: 300px) {
    h1 {
        height: 120px;
        font-size: 3em;

    }

    h2 {
        font-size: 2.3em;
        text-align: center;
        width: 80%;
        margin-left: 16px;
        display: block;
    }

    img {
        height: 129px;
        width: auto;
        right: auto;
        margin-left: 42px;
        bottom: 12px;
    }
}

/* 600 PIXELS HIGH */
@media only screen and (height: 600px) {
    h1 {
        width: 100%;
        top: 15px;
        height: 90px;
        line-height: 43px;
        left: 11px;
        text-align: left;
        display: block;
    }

    h2 {
        display: block;
        left: 6px;
        top: 160px;
        text-align: center;
        font-size: 1.3em;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 12px;
        z-index: 100;
        width: 93%;
    }

    img {
        width: 160%;
        bottom: 100px;
        left: -40%;
    }
}

@media only screen and (height: 600px) and (min-width: 160px) {
    h1 {
        font-size: 3.7em;
    }

    h2 {
        font-size: 3em;
    }

    img {
        width: 143%;
        left: -23%;
    }
}